<!DOCTYPE html>
<html>
    <head>
        <title>Code Fury</title>
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <!-- our css -->
        <!-- boostrap css and js -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!-- our javascript -->
        <script src="js/script.js"></script>
        <!-- import google maps api (using my api key) -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbzToWwyvwuRG5xYmLdH11JYVfF7x_2aE&callback=initMap&libraries=places" async defer></script>

        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="css/style.css" rel="stylesheet">
    </head>

    <body background="background.png">
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <table style="width:100%">
                        <tr style="width: 100%">
                            <td style="width: 10%;">
                                <a class="navbar-brand" href="#">
                                    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
                                </a>
                            <td>
                            <td style="width: 30%;">
                                <span style="font-size:30px;" >Active Search Criteria:</span>
                            <td>
                            <td style="width: 45%;">
                                <span id="active-criteria"></span>
                            </td>
                            <td style="width: 15%;">
                                <div id="scope"></div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </nav>

        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <span class="checkbox">
                <input checked class="toggle-menu-option" id="Public Schools" data-toggle="toggle" type="checkbox">
                <h3 class="search-label">Public Schools</h3><div class="helper-text" data-toggle="tooltip" data-placement="top" title="Helper Text"><svg class="helper-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zM262.655 90c-54.497 0-89.255 22.957-116.549 63.758-3.536 5.286-2.353 12.415 2.715 16.258l34.699 26.31c5.205 3.947 12.621 3.008 16.665-2.122 17.864-22.658 30.113-35.797 57.303-35.797 20.429 0 45.698 13.148 45.698 32.958 0 14.976-12.363 22.667-32.534 33.976C247.128 238.528 216 254.941 216 296v4c0 6.627 5.373 12 12 12h56c6.627 0 12-5.373 12-12v-1.333c0-28.462 83.186-29.647 83.186-106.667 0-58.002-60.165-102-116.531-102zM256 338c-25.365 0-46 20.635-46 46 0 25.364 20.635 46 46 46s46-20.636 46-46c0-25.365-20.635-46-46-46z"/></svg></div>
            </span>
            <div class="detailed-criteria" id="public-schools">
                <span>
                    <span class="school-detail-option sub-option">
                        <input checked data-toggle="toggle" data-style="ios" type="checkbox" data-size="mini">
                        <h5 class="search-label">Elementary</h3>
                    </span>
                    <span class="school-detail-option sub-option">
                        <input checked data-toggle="toggle" data-style="ios" type="checkbox" data-size="mini">
                        <h5 class="search-label">Middle</h3>
                    </span>
                    <span class="school-detail-option sub-option">
                        <input checked data-toggle="toggle" data-style="ios" type="checkbox" data-size="mini">
                        <h5 class="search-label">Highschool</h3>
                    </span>
                </span>
            </div>
            <span class="checkbox">
                <input checked class="toggle-menu-option" id="Public Transportation" data-toggle="toggle" type="checkbox">
                <h3 class="search-label">Public Transportation</h3><div class="helper-text" data-toggle="tooltip" data-placement="top" title="Helper Text"><svg class="helper-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zM262.655 90c-54.497 0-89.255 22.957-116.549 63.758-3.536 5.286-2.353 12.415 2.715 16.258l34.699 26.31c5.205 3.947 12.621 3.008 16.665-2.122 17.864-22.658 30.113-35.797 57.303-35.797 20.429 0 45.698 13.148 45.698 32.958 0 14.976-12.363 22.667-32.534 33.976C247.128 238.528 216 254.941 216 296v4c0 6.627 5.373 12 12 12h56c6.627 0 12-5.373 12-12v-1.333c0-28.462 83.186-29.647 83.186-106.667 0-58.002-60.165-102-116.531-102zM256 338c-25.365 0-46 20.635-46 46 0 25.364 20.635 46 46 46s46-20.636 46-46c0-25.365-20.635-46-46-46z"/></svg></div>
            </span>
            <div class="detailed-criteria" id="public-transportation">
                <span>
                    <!-- <span>
                        <div class="detail-slider" id="public-transportation-slider-bar"></div>
                        <div class="detail-slider-value" id="public-transportation-slider-value" style="width: 10%; padding-left: 10px; margin:auto; display:inline-block;">100</div>
                    </span> -->
                    <select class="form-control detailed-dropdown" id="public-transportation-dropdown">
                      <option>Low Availability</option>
                      <option>Medium Availability</option>
                      <option>High Availability</option>
                    </select>
                </span>
            </div>
            <span class="checkbox">
                <input checked class="toggle-menu-option" id="Crime" data-toggle="toggle" type="checkbox">
                <h3 class="search-label">Crime</h3><div class="helper-text" data-toggle="tooltip" data-placement="top" title="Helper Text"><svg class="helper-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zM262.655 90c-54.497 0-89.255 22.957-116.549 63.758-3.536 5.286-2.353 12.415 2.715 16.258l34.699 26.31c5.205 3.947 12.621 3.008 16.665-2.122 17.864-22.658 30.113-35.797 57.303-35.797 20.429 0 45.698 13.148 45.698 32.958 0 14.976-12.363 22.667-32.534 33.976C247.128 238.528 216 254.941 216 296v4c0 6.627 5.373 12 12 12h56c6.627 0 12-5.373 12-12v-1.333c0-28.462 83.186-29.647 83.186-106.667 0-58.002-60.165-102-116.531-102zM256 338c-25.365 0-46 20.635-46 46 0 25.364 20.635 46 46 46s46-20.636 46-46c0-25.365-20.635-46-46-46z"/></svg></div>
            </span>
            <div class="detailed-criteria" id="crime">
                <span>
                    <select class="form-control detailed-dropdown" id="crime-dropdown">
                      <option>Low Crime Rate</option>
                      <option>Average Crime Rate</option>
                    </select>
                </span>
            </div>
            <span class="checkbox">
                <input checked class="toggle-menu-option" id="Outdoor Recreation" data-toggle="toggle" type="checkbox">
                <h3 class="search-label">Outdoor Recreation</h3><div class="helper-text" data-toggle="tooltip" data-placement="top" title="Helper Text"><svg class="helper-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zM262.655 90c-54.497 0-89.255 22.957-116.549 63.758-3.536 5.286-2.353 12.415 2.715 16.258l34.699 26.31c5.205 3.947 12.621 3.008 16.665-2.122 17.864-22.658 30.113-35.797 57.303-35.797 20.429 0 45.698 13.148 45.698 32.958 0 14.976-12.363 22.667-32.534 33.976C247.128 238.528 216 254.941 216 296v4c0 6.627 5.373 12 12 12h56c6.627 0 12-5.373 12-12v-1.333c0-28.462 83.186-29.647 83.186-106.667 0-58.002-60.165-102-116.531-102zM256 338c-25.365 0-46 20.635-46 46 0 25.364 20.635 46 46 46s46-20.636 46-46c0-25.365-20.635-46-46-46z"/></svg></div>
            </span>
            <div class="detailed-criteria" id="outdoor-recreation">
                <span>
                    <span class="outdoor-recreation-detail-option sub-option">
                        <input checked data-toggle="toggle" data-style="ios" type="checkbox" data-size="mini">
                        <h5 class="search-label">Hiking</h3>
                    </span>
                    <span class="outdoor-recreation-detail-option sub-option">
                        <input checked data-toggle="toggle" data-style="ios" type="checkbox" data-size="mini">
                        <h5 class="search-label">Climbing</h3>
                    </span>
                    <span class="outdoor-recreation-detail-option sub-option">
                        <input checked data-toggle="toggle" data-style="ios" type="checkbox" data-size="mini">
                        <h5 class="search-label">Camping</h3>
                    </span></br>
                    <span class="outdoor-recreation-detail-option sub-option">
                        <input checked data-toggle="toggle" data-style="ios" type="checkbox" data-size="mini">
                        <h5 class="search-label">Fishing</h3>
                    </span>
                    <span class="outdoor-recreation-detail-option sub-option">
                        <input checked data-toggle="toggle" data-style="ios" type="checkbox" data-size="mini">
                        <h5 class="search-label">Wilderness</h3>
                    </span>
            </span>
            </div>
            <span class="checkbox">
                <input checked class="toggle-menu-option" id="Climate" data-toggle="toggle" type="checkbox">
                <h3 class="search-label">Climate</h3><div class="helper-text" data-toggle="tooltip" data-placement="top" title="Helper Text"><svg class="helper-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zM262.655 90c-54.497 0-89.255 22.957-116.549 63.758-3.536 5.286-2.353 12.415 2.715 16.258l34.699 26.31c5.205 3.947 12.621 3.008 16.665-2.122 17.864-22.658 30.113-35.797 57.303-35.797 20.429 0 45.698 13.148 45.698 32.958 0 14.976-12.363 22.667-32.534 33.976C247.128 238.528 216 254.941 216 296v4c0 6.627 5.373 12 12 12h56c6.627 0 12-5.373 12-12v-1.333c0-28.462 83.186-29.647 83.186-106.667 0-58.002-60.165-102-116.531-102zM256 338c-25.365 0-46 20.635-46 46 0 25.364 20.635 46 46 46s46-20.636 46-46c0-25.365-20.635-46-46-46z"/></svg></div>
            </span>
            <div class="detailed-criteria" id="climate">
                <span>
                    <select class="form-control detailed-dropdown" id="climate-dropdown">
                      <option>No Preference</option>
                      <option>Hotter</option>
                      <option>Colder</option>
                    </select>
                    <select class="form-control detailed-dropdown secondary-option" id="rain-dropdown">
                      <option>Low Annual Percipitation</option>
                      <option>Medium Annual Percipitation</option>
                      <option>High Annual Percipitation</option>
                    </select>
                    <select class="form-control detailed-dropdown secondary-option" id="snow-dropdown">
                      <option>Low Annual Snowfall</option>
                      <option>Medium Annual Snowfall</option>
                      <option>High Annual Snowfall</option>
                    </select>
                </span>
            </div>
            <span class="checkbox">
                <input checked class="toggle-menu-option" id="Health Care" data-toggle="toggle" type="checkbox">
                <h3 class="search-label">Health Care</h3><div class="helper-text" data-toggle="tooltip" data-placement="top" title="Helper Text"><svg class="helper-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zM262.655 90c-54.497 0-89.255 22.957-116.549 63.758-3.536 5.286-2.353 12.415 2.715 16.258l34.699 26.31c5.205 3.947 12.621 3.008 16.665-2.122 17.864-22.658 30.113-35.797 57.303-35.797 20.429 0 45.698 13.148 45.698 32.958 0 14.976-12.363 22.667-32.534 33.976C247.128 238.528 216 254.941 216 296v4c0 6.627 5.373 12 12 12h56c6.627 0 12-5.373 12-12v-1.333c0-28.462 83.186-29.647 83.186-106.667 0-58.002-60.165-102-116.531-102zM256 338c-25.365 0-46 20.635-46 46 0 25.364 20.635 46 46 46s46-20.636 46-46c0-25.365-20.635-46-46-46z"/></svg></div>
            </span>
            <div class="detailed-criteria" id="health-care">
                <span>
                    <select class="form-control detailed-dropdown" id="healthcare-dropdown">
                      <option>Average number of doctors to patients</option>
                      <option>High number of doctors to patients</option>
                    </select>
                </span>
            </div>
            <span class="checkbox">
                <input checked class="toggle-menu-option" id="Commute Time" data-toggle="toggle" type="checkbox">
                <h3 class="search-label">Commute Time</h3><div class="helper-text" data-toggle="tooltip" data-placement="top" title="Helper Text"><svg class="helper-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zM262.655 90c-54.497 0-89.255 22.957-116.549 63.758-3.536 5.286-2.353 12.415 2.715 16.258l34.699 26.31c5.205 3.947 12.621 3.008 16.665-2.122 17.864-22.658 30.113-35.797 57.303-35.797 20.429 0 45.698 13.148 45.698 32.958 0 14.976-12.363 22.667-32.534 33.976C247.128 238.528 216 254.941 216 296v4c0 6.627 5.373 12 12 12h56c6.627 0 12-5.373 12-12v-1.333c0-28.462 83.186-29.647 83.186-106.667 0-58.002-60.165-102-116.531-102zM256 338c-25.365 0-46 20.635-46 46 0 25.364 20.635 46 46 46s46-20.636 46-46c0-25.365-20.635-46-46-46z"/></svg></div>
            </span>
            <div class="detailed-criteria" id="commute-time">
                <span>
                    <span>
                        <div class="commute-slider" id="commute-slider-bar"></div>
                        <div class="commute-slider-value" id="commute-slider-value" style="width: 10%; padding-left: 10px; margin:auto; display:inline-block;">60</div>
                    </span>
                </span>
            </div>
            <br>

            <center><div class="searchButtonHolder"><button id="search-button" type="button" class="btn btn-primary btn-lg btn-block">Search</button></div></center>
        </div>

        <!--where the map will be rendered-->
        <center><div id="map"></div></center>

    </body>
</html>
